@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiant {
  height: 900px;
  background-color: #00000000; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgba(209, 133, 133, 0), #1e1e20);
}

.gradient2 {
  /* background-color: red; For browsers that do not support gradients */
  background: linear-gradient(
    to bottom right,
    #00a795 -500px,
    rgba(255, 0, 0, 0) 150px,
    #00a795 500px
  );
}

/* .gradient2 */
